@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


:root {
  --bg-main: #FFFFFF;
  --bg-2: #F2F2F2;
  --text: #333333;
  --text-2: #4F4F4F
  --test-cards: #3C3C3C;
  --logo: #333333;

}

:root .dark-theme {
  --bg-main: #333333;
  --bg-2: #4F4F4F;
  --text: #FEFEFE;
  --text-2: #F2F2F2;
  --test-cards: #3C3C3C;
  --logo: #FEFEFE;
}

.page-container {
  width: 1620px;
  margin: 0 auto;
}

.header {
    width: 100%;
    height: 94px; 
    background: var(--bg-main);
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.title {
  display: none;
}

.container {
  width: 1620px;
  margin: 0 auto;
}

.header__container {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
    margin-left: 0;

}

.hedaer__theme-switcher {
    margin-right: 0;
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    
    padding: 0;
}

.header a {
  text-decoration: none;
  padding-right: 83px;
  font-size: 16px;
  color: var(--text);
}

.header__item:hover {
  text-decoration: underline;

}

.header__item_active {
    text-decoration: underline;
    font-weight: 900;
  }
  
.hedaer__theme-switcher input[name="theme"] {
    position: relative;
    width: 54px;
    height: 30px;
    appearance: none;
    background: var(--bg-2);
    outline: none;
    border-radius: 260px;
    transition: .5s;
}



input:checked[name="theme"] {
    background: #4F4F4F;
    
}

input[name="theme"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 190px;
    top: 17%;
    left: 12%;
    background: var(--bg-main);
    /* transform: scale(1.1); */
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  
input:checked[name="theme"]:before {
    left: 28px;
    background: #1B1B1B;
  }
  


   /* main */
.content {
    width: 100%;
    height: 910px;
    background: var(--bg-2);
}

.video-container {
    width: 1200px;
    margin: 0 auto;
}

.main__title h1 {
  margin-top: 0;
  padding-top: 60px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--text);
}

.content__video {
  display: flex;
    
}

.video__descr {
  margin-left: 30px;
  width: 100%;
} 

.descr__item h3 {
  color: var(--text);
  margin: 0;
}

.descr__item p {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 13px;
  font-size: 14px;
  color: var(--text-2);
}

.prevue {
  padding-top: 30px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  

}

.descr__button button {
    margin-top: 35px;
  width: 194px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sidebar {
    position: absolute;
    
  }


.sidebar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 60px;
}
.animal-list {
    padding: 0;
}
.animal-list__item {
    list-style: none;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    padding: 6px;
}


.animal-list__item img{
    border-radius: 50%;
    width: 108px;
    height: 108px;
}

.animal-list__item_active {
    transform: scale(1.2);
    
    border: solid #4BD8B5 ;
    margin-bottom: 18px;
}


  .footer {
    background: #333333;
    width: 100%;
    height: 751px;
  
  }
  
  /* ----grid */
  
  .footer__logo {
    grid-area: logo;
    margin: 0;
    align-self: start;
    margin-top: 100px;
  }

.footer-nav {
  grid-area: nav;
  align-self: center;
  display: flex;
  width: 404px;
  height: 21px;
  align-self: start;
  margin-top: 116px;
}
  
  .footer-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer-menu a {
    text-decoration: none;
    padding-right: 75px;
    font-size: 16px;
    color: #ffffff;
  }
  
  
  .footer-form {
    grid-area: form;
    margin: 0;
    padding-top: 57px;
    
  }
  
  .footer-form  legend{
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #FEFEFE;
    margin-bottom: 33px;
  }
  
  .footer-form input[type="text"] {
    position: relative;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color: #fff;
    background: transparent;
    width: 383px;
    padding-top: 10px 0;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    margin: 0  0 20px 0;
    resize: none;
    padding-bottom: 10px;
  }
  
  .footer-form input[type="submit"] {
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
    padding-left: 260px;
  }
  
  
  .footer-form textarea{
    position: relative;
      border: 1px solid #BDBDBD;;
      border-radius: 3px;
      color: #fff;
      background: transparent;
      width: 383px;
      height: 115px;
      padding-top: 10px 0;
      outline: none;
      font-size: 18px;
      font-weight: 300;
      margin: 10px 0 25px 0;
      resize: none;
  }
  .enter-message-container {
    display: flex;
  }
  .enter-message {
    display: block;
    position: absolute;
    margin-top: 2px;
    background: #333333;
    z-index: 2;
    margin-left: 8px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .footer-form span{
    margin-left: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
    
  }
  
  .footer-form input[type="checkbox"]{
    margin-bottom: 20px;
    background: #333333;
  }
  
  
  .zoo-contact {
    grid-area: contact;
    padding-top: 70px;
    justify-self: start;
    margin: 0;
  }
  
  .contact-header {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FEFEFE;
  }
  
  .contact-adress,
  .contact-phone {
    width: 190px;
    height: 37px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #FEFEFE;
    
  }
  
  .icons {
    list-style: none;
    padding-left: 0;
    display: flex;
  }
  
  .icon {
    margin: 0;
  }
  .icons a { 
    text-decoration: none;
    padding-right: 15px;
    font-size: 16px;
    color: #333333;
  }
  
  .button-container {
    grid-area: button;
    margin: 0;
    height: 55px;
    justify-self: end;
    padding-top: 99px;
  }
  
  .footer-button{
    justify-self: end;
    width: 275px;
    height: 55px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .copyrights {
    grid-area: copyrights;
    width: 294px;
    justify-self: start;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
  }
  
  .copyrights:before {
    content: "";
    width: 1620px;
    height: 1px;
    border-bottom: 0.5px solid #FEFEFE;
    display: block;
    margin-bottom: 28px;
  }
  
  .copyrights span {
    margin: 5px;
  }
  
  .footer-container {
    width: 1620px;
    /* height: 751px; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 62% 133px;
    grid-template-areas: 
      "logo logo nav button "
      "form . contact ."
      "copyrights copyrights copyrights copyrights ";
  }